.c-chat-dialogue {
  position: fixed;
  right: 1.875rem;
  bottom: 1.875rem
}

.c-chat-dialogue__btn {
  background: #2ea1f8;
  background: linear-gradient(180deg, #2ea1f8, #1990ea);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border-color: #1a91eb;
  color: #fff;
  font-size: 1.5rem;
  box-shadow: 0 2px 7px 0 rgba(34, 44, 60, .4);
  cursor: pointer
}

.c-chat-dialogue__btn .c-chat-dialogue__btn-close,
.c-chat-dialogue__btn.is-open .c-chat-dialogue__btn-open {
  display: none
}

.c-chat-dialogue__btn.is-open .c-chat-dialogue__btn-close {
  display: block
}

.c-chat-dialogue__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 1.875rem;
  border-bottom: 1px solid #e6eaee
}

.c-chat-dialogue__team {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 35%
}

.c-chat-dialogue__team .c-avatar {
  position: absolute;
  top: 0;
  left: 0
}

.c-chat-dialogue__team .c-avatar:nth-child(2) {
  -webkit-transform: translateX(20px);
  transform: translateX(20px)
}

.c-chat-dialogue__team .c-avatar:nth-child(3) {
  -webkit-transform: translateX(40px);
  transform: translateX(40px)
}

.c-chat-dialogue__body {
  position: absolute;
  right: 0;
  bottom: 70px;
  width: 350px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  transition: all .3s;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .35);
  opacity: 0;
  overflow: hidden;
  visibility: hidden
}

.c-chat-dialogue__body.is-active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible
}

.c-chat-dialogue__messages {
  height: 400px;
  padding: 0 1.25rem;
  background-color: #fafbfc;
  overflow-y: auto
}

.c-chat-dialogue__message {
  padding: 10px 20px
}

.c-chat-dialogue__message-content {
  position: relative;
  max-width: 80%;
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: .875rem;
  background: #2ea1f8;
  background: linear-gradient(180deg, #2ea1f8, #1990ea);
  word-wrap: break-word
}

.c-chat-dialogue__message-content:before {
  position: absolute;
  top: 30%;
  right: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 6px solid transparent;
  border-right-color: #2ea1f8;
  content: " "
}

.c-chat-dialogue__message--self {
  text-align: right
}

.c-chat-dialogue__message--self .c-chat-dialogue__message-content {
  margin-left: auto;
  border: 1px solid #e6eaee;
  background: #fff;
  color: #354052
}

.c-chat-dialogue__message--self .c-chat-dialogue__message-content:before {
  left: 100%;
  border: 6px solid transparent;
  border-left-color: #fff
}

.c-chat-dialogue__footer {
  padding: 1.25rem;
  border-top: 1px solid #e6eaee;
  background-color: #fff
}
