.c-choice {
  margin: 0 0 .9375rem;
  color: #354052;
  font-size: 0;
  font-weight: 400
}

.c-choice.is-disabled .c-choice__label {
  color: rgba(53, 64, 82, .5);
  cursor: default
}

.c-choice.is-disabled .c-choice__label:before {
  border-color: #dfe3e9;
  background-color: #e6eaee
}

.c-choice__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%)
}

.c-choice__input+.c-choice__label {
  display: inline-flex;
  align-items: center;
  color: #354052;
  font-size: .875rem;
  cursor: pointer
}

.c-choice__input+.c-choice__label:before {
  display: inline-block;
  position: relative;
  top: -1px;
  width: 16px;
  height: 16px;
  margin: 0 15px 0 0;
  transition: all .3s;
  border: 1px solid #bbc5d5;
  background-color: #fff;
  color: #fff;
  line-height: 15px;
  text-align: center;
  content: "";
  visibility: visible
}

.c-choice--checkbox .c-choice__input+.c-choice__label:before {
  border-radius: 4px
}

.c-choice--checkbox .c-choice__input:checked+.c-choice__label:before {
  border-color: #34aa44;
  background-color: #39b54a;
  font-family: 'feather';
  font-size: 10px;
  content: "\e83f"
}

.c-choice--radio .c-choice__input+.c-choice__label:before {
  border-radius: 100%
}

.c-choice--radio .c-choice__input:checked+.c-choice__label:before {
  border: 4px solid #39b54a;
  background-color: #fff;
  box-shadow: 0 0 0 1px #34aa44
}
