.c-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 45px;
  cursor: pointer
}

.c-toggle.is-disabled {
  cursor: not-allowed;
  opacity: .5
}

.c-toggle.is-disabled .c-toggle__btn.is-active {
  border-color: #e7e9ed;
  background-color: #fafbfc;
  color: #565f6d
}

.c-toggle__btn {
  width: 50%;
  height: 45px;
  transition: all .3s;
  border: 1px solid #e7e9ed;
  border-radius: 4px;
  background-color: #fafbfc;
  color: #565f6d;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  cursor: inherit
}

.c-toggle__btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.c-toggle__btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.c-toggle__btn.is-active {
  border-color: #249533;
  background-color: #39b54a;
  color: #fff
}

.c-toggle__label {
  width: 100%;
  height: 45px;
  line-height: 45px;
  cursor: inherit
}

.c-toggle__input {
  display: none;
  width: 100%;
  height: 100%
}
