.u-p-zero {
  padding: 0 !important
}

.u-pt-zero {
  padding-top: 0 !important
}

.u-pr-zero {
  padding-right: 0 !important
}

.u-pb-zero {
  padding-bottom: 0 !important
}

.u-pl-zero {
  padding-left: 0 !important
}

.u-pv-zero {
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.u-ph-zero {
  padding-right: 0 !important;
  padding-left: 0 !important
}

.u-p-auto {
  padding: auto !important
}

.u-pt-auto {
  padding-top: auto !important
}

.u-pr-auto {
  padding-right: auto !important
}

.u-pb-auto {
  padding-bottom: auto !important
}

.u-pl-auto {
  padding-left: auto !important
}

.u-pv-auto {
  padding-top: auto !important;
  padding-bottom: auto !important
}

.u-ph-auto {
  padding-right: auto !important;
  padding-left: auto !important
}

.u-p-xsmall {
  padding: .625rem !important
}

.u-pt-xsmall {
  padding-top: .625rem !important
}

.u-pr-xsmall {
  padding-right: .625rem !important
}

.u-pb-xsmall {
  padding-bottom: .625rem !important
}

.u-pl-xsmall {
  padding-left: .625rem !important
}

.u-pv-xsmall {
  padding-top: .625rem !important;
  padding-bottom: .625rem !important
}

.u-ph-xsmall {
  padding-right: .625rem !important;
  padding-left: .625rem !important
}

.u-p-small {
  padding: .9375rem !important
}

.u-pt-small {
  padding-top: .9375rem !important
}

.u-pr-small {
  padding-right: .9375rem !important
}

.u-pb-small {
  padding-bottom: .9375rem !important
}

.u-pl-small {
  padding-left: .9375rem !important
}

.u-pv-small {
  padding-top: .9375rem !important;
  padding-bottom: .9375rem !important
}

.u-ph-small {
  padding-right: .9375rem !important;
  padding-left: .9375rem !important
}

.u-p-medium {
  padding: 1.875rem !important
}

.u-pt-medium {
  padding-top: 1.875rem !important
}

.u-pr-medium {
  padding-right: 1.875rem !important
}

.u-pb-medium {
  padding-bottom: 1.875rem !important
}

.u-pl-medium {
  padding-left: 1.875rem !important
}

.u-pv-medium {
  padding-top: 1.875rem !important;
  padding-bottom: 1.875rem !important
}

.u-ph-medium {
  padding-right: 1.875rem !important;
  padding-left: 1.875rem !important
}

.u-p-large {
  padding: 3.125rem !important
}

.u-pt-large {
  padding-top: 3.125rem !important
}

.u-pr-large {
  padding-right: 3.125rem !important
}

.u-pb-large {
  padding-bottom: 3.125rem !important
}

.u-pl-large {
  padding-left: 3.125rem !important
}

.u-pv-large {
  padding-top: 3.125rem !important;
  padding-bottom: 3.125rem !important
}

.u-ph-large {
  padding-right: 3.125rem !important;
  padding-left: 3.125rem !important
}

.u-p-xlarge {
  padding: 6.25rem !important
}

.u-pt-xlarge {
  padding-top: 6.25rem !important
}

.u-pr-xlarge {
  padding-right: 6.25rem !important
}

.u-pb-xlarge {
  padding-bottom: 6.25rem !important
}

.u-pl-xlarge {
  padding-left: 6.25rem !important
}

.u-pv-xlarge {
  padding-top: 6.25rem !important;
  padding-bottom: 6.25rem !important
}

.u-ph-xlarge {
  padding-right: 6.25rem !important;
  padding-left: 6.25rem !important
}
