///* ========================================================================
//   #ALERTS
//   ======================================================================== */
// alert
$alert-padding: .75rem 2rem .75rem .75rem !default;
$alert-margin: 0 0 .9375rem !default;
$alert-background-color: $base-background-color !default;
$alert-box-shadow: 0 10px 60px 0 rgba(29, 29, 31, 0.09) !default;
// alert icon
$alert-icon-width: rem(30px) !default;
$alert-icon-height: rem(30px) !default;
$alert-icon-color: $color-white !default;
$alert-icon-border-bottom: -4px !default;
$alert-icon-margin-right: .625rem;
$alert-icon-font-size : 1.125rem !default;
